/* SignUpForm.css */

.signupBx {
  pointer-events: none;
}

.signupBx .formBx {
  left: 100%;
}

.signupBx .imgBx {
  left: -100%;
}

.signupBx .formBx {
  left: 100%;
}

.signupBx .imgBx {
  left: -100%;
}

.signupBx .formBx {
  left: 100%;
}

.signupBx .imgBx {
  left: -100%;
}

/* Media query for smaller screens */
@media (max-width: 991px) {
  .signupBx .container {
    max-width: 400px;
  }

  .signupBx .container .imgBx {
    display: none;
  }

  .signupBx .container .formBx {
    width: 100%;
  }
}