.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(14, 42, 71, 1);
}

.signupBx {
  display: flex;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .signupBx .formBx,
  .signupBx .imgBx {
    flex: 1;
}

.signupBx .formBx {
  padding: 40px;
    transition: 0.5s;
}

.signupBx .formBx h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.signupBx .formGroup {
  margin-bottom: 20px;
}

.signupBx input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signupBx input[type="submit"] {
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

.signupBx .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signupBx .container .formBx {
  width: 100%;
}

.signup a {
  color: red;
  text-decoration: none;
}

@media (max-width: 991px) {
  .signupBx {
      flex-direction: column;
    }
  .signupBx .container {
    max-width: 400px;
  }
.signupBx .imgBx {
    display: none;
  }

.signupBx .formBx {
    width: 100%;
  }
}
