.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(14, 42, 71, 1);

}

.web-logo {
    padding: 10px;
}

.nav-links ul {
    display: flex;
    gap: 60px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
}

.nav-links ul li a:hover {
        color: red;
        transition: color 1s;
}


